@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body{
    background-image: linear-gradient(to top left, #3780b1, #F0EEEC);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* box-sizing: border-box; */
    background-repeat: no-repeat;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* #439A97
#62B6B7
#97DECE
#CBEDD5 
#F0EEEC*/